{% extends "base.html.twig" %}

{% block title %}
{{ 'Create article' }}
{% endblock %}

{% block body %}
<h1>{{'Create article' }}</h1>
{{ form_start(form) }}
{{ form_widget(form)}}

<button type="submit">{{ 'save' }}</button>

{% endblock %}
