{% extends "base.html.twig" %}

{% block title %}
 {{ 'Article edit' }}
{% endblock %}

{% block body %}
<h1> {{ 'Article edit' }} </h1>

{{ form_start(form) }}
{{ form_widget(form)}}

  <button type="submit">{{ 'save' }}</button>

{% endblock %}