{% extends "base.html.twig" %}

{% block title %}
 {{ 'Articles' }}
{% endblock %}

{% block body %}
<h1> {{ 'Articles view' }} </h1>

{% for article in articles %}
<p>{{ 'Id: ' }} {{ article.Id }}</p>
<p>{{ 'Title: ' }} {{ article.title }}</p>
<p>{{ 'Text: ' }} {{ article.text }}</p>




{% endfor %}
{% endblock %}