{% extends "base.html.twig" %}

{% block title %}
{{ 'article_show' }}
{% endblock %}

{% block body %}
<h1>{{ 'Article_show' }} </h1>
<p>{{'article id: '}}  {{ article.id }} </p>
<p>{{'article title: '}} {{ article.title }}</p>
<p>{{'article text: '}}  {{ article.text }}</p>
<p>{{'article createdAt: '}}  {{ article.createdAt|date("m/d/Y") }}</p>


<p>{{'Authors: '}}</p>
{% for author in article.authors %}

<p>{{author.name}}</p>
{% endfor %}
{% endblock %}